<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JournalIt.Properties.JournalIt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="JournalIt.Properties.UI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="JournalIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JournalIt.Properties.UI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="JournalIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <JournalIt.Properties.JournalIt>
            <setting name="Top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-1</value>
            </setting>
        </JournalIt.Properties.JournalIt>
        <JournalIt.Properties.UI>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopwatchWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopwatchHeight" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="StopwatchFontSizeSelected" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="StopwatchFontSize" serializeAs="String">
                <value>20</value>
            </setting>
        </JournalIt.Properties.UI>
        <JournalIt.Properties.Settings>
            <setting name="DataFolder" serializeAs="String">
                <value>%documents%\Journal It Data</value>
            </setting>
            <setting name="StopwatchIDSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoSavePeriod" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FormTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultCompany" serializeAs="String">
                <value></value>
            </setting>
            <setting name="DefaultType" serializeAs="String">
                <value>Code</value>
            </setting>
            <setting name="DefaultProjectId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MinimumMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExcelFileFullname" serializeAs="String">
                <value>%documents%\Journal It Data\Journal Time Entires.xlsx</value>
            </setting>
            <setting name="ExcelSheet" serializeAs="String">
                <value>Journal</value>
            </setting>
            <setting name="ExportToExcel" serializeAs="String">
                <value>True</value>
            </setting>
        </JournalIt.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JournalIt.Properties.UI>
            <setting name="ScaleMin" serializeAs="String">
                <value>0.76</value>
            </setting>
            <setting name="ScaleMax" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="StopwatchMinWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="StopwatchMaxWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ScaleChange" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="StopwatchWidthChange" serializeAs="String">
                <value>10</value>
            </setting>
        </JournalIt.Properties.UI>
        <JournalIt.Properties.Settings>
            <setting name="StopwatchFolderName" serializeAs="String">
                <value>Stopwatches</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>Delaney's Journal It</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>info@delaneys.space</value>
            </setting>
        </JournalIt.Properties.Settings>
    </applicationSettings>
</configuration>
